/* general css rules start here */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

p {
  font-size: 16px;
}
/* general css rules end here */

.header,
.footer {
  /* share the same font-family for header and footer */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* classes for header starts here */
.header {
  /* css rules for header container */
  padding: 20px;
  background-color: #2a607c;
  color: #ffffff;
}

.company-name {
  /* css rules for h1 tag inside header container */
  display: inline-block;
  font-size: 48px;
}

.company-name .seo {
  /* set colour to .seo class that is inside the h1 tag within header class*/
  color: #d9dcd6;
}

.header-nav {
  /* css rules for navigation container within header */
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.nav-item-list {
  /* css rules for navigation links container within nav tag */
  list-style-type: none;
}

.nav-item {
  /* css rules for navigation item within the navigation unorder list */
  display: inline-block;
  margin-left: 25px;
}

.nav-link {
  /* css rules for navigation link */
  color: #ffffff;
  text-decoration: none;
}
/* classes for header ends here */

.hero {
  /* styles for the big image underneath the header */
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* classes about floating start here */
.float-left,
.float-right {
  /* share the same css rule for float-left and float-right classes */
  margin-right: 25px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
/* classes about floating end here */

.content {
  /* styles for the main content container */
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* classes for benefits start here */
.benefits {
  /* styles for the benefits container */
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.benefit-section {
  /* share the same rules for each benefit container */
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-header {
  /* share the same rules for each benefit's h3 tag */
  margin-bottom: 10px;
  text-align: center;
}

.benefit-img {
  /* share the same rules for images inside each benefit */
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* classes for benefits end here */

/* classes for company expertises start here */
.company-expertise {
  /* share the same rules for sections in article tag */
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.company-expertise-img {
  /* give the same max-height to all images for each section in article tag */
  max-height: 200px;
}

.company-expertise-header {
  /* share the same rules for all h2 tags in each section within article tag */
  margin-bottom: 20px;
  font-size: 36px;
}
/* classes for company expertises end here */

/* classes for footer starts here */
.footer {
  padding: 30px;
  clear: both;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}
/* classes for footer end here */
